body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    background-image: url(assets/images/bg/gif4.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-picker {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2px;
}
input[type="radio"] {
    appearance: none;
}
input[type="radio"]:checked + label {
    border-radius: 50%;
    background-color: rgb(25, 189, 134);
}
label {
    content: "";
    display: block;
    height: 16px;
    aspect-ratio: 1/1;
    border: 4px solid antiquewhite;
    border-radius: 50%;
    background-color: antiquewhite;
    cursor: pointer;
    box-shadow: 0 0 10px;
}

body:has(#bg1:checked) {
    background-image: url('assets/images/bg/bg1.gif');
}
body:has(#bg2:checked) {
    background-image: url('assets/images/bg/bg2.jpg');
}
body:has(#bg3:checked) {
    background-image: url('assets/images/bg/bg3.jpg');
}
body:has(#bg4:checked) {
    background-image: url('assets/images/bg/bg4.jpg');
}

.container {
    height: 100vh;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    scroll-padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-self: start;
    scrollbar-width: thin;
    scrollbar-color: antiquewhite rgb(36, 36, 36);
    overflow-x: hidden;
}
section {
    scroll-snap-align: start;
    box-shadow: 2px 2px 20px;
    border-radius: 6px;
    background-color: rgba(250, 235, 215, 0.873);
    position: relative;
    align-self: center;
    margin: 2rem;
}

#slambook {
    padding: 1.5rem;
    scrollbar-width: thin;
    height: auto;
}

#scrapbook {
    min-height: calc(100vh - 4rem);
    aspect-ratio: 2/3;
    overflow: hidden;
}

.table-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-pic {
    height: 200px;
    border-radius: 50%;
    transition: scale 0.3s ease-out;
}
.profile-pic:hover {
    scale: 1.05;
    transition: scale 0.3s ease-out;
}

.socials {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.socials img {
    height: 35px;
    transition: scale 0.3s ease-out;
}
.socials img:hover {
    scale: 1.3;
    transition: scale 0.3s ease-out;
}
.icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

table {
    width: 100%;
    border: 2px solid black;
    padding: 5px;
}
td {
    border: 2px solid black;
    padding: 5px;
}

#scrapbook img {
    position: absolute;
}

.torn-frame {
    height: 100%;
    transform: rotateY(180deg);
    bottom: 0;
    right: 0;
}
.torn-paper-top {
    height: 50%;
}

.violet-smile {
    height: 26%;
    right: 21%;
    top: -1%;
}
.violet-hand {
    height: 30%;
    right: 4%;
    top: 9%;
}
.letters {
    height: 50%;
    right: -25%;
    top: 25%;
    transform: rotateY(180deg) rotateZ(30deg);
}
.violet-payong {
    height: 40%;
    bottom: 33%;
    right: 0%;
}

.violet-sat {
    height: 38%;
    bottom: 0;
}
.letters1 {
    height: 12%;
    bottom: 14%;
    left: 23%;
    pointer-events: none;
}

.typewriter {
    height: 23%;
    bottom: 0%;
    right: 25%;
}
.brooch {
    height: 21%;
    bottom: 13%;
    right: 4%;
}
.quote {
    height: 45%;
    top: 42%;
    left: 4%;
    pointer-events: none;
}
.violet-depressed {
    height: 55%;
    left: -12%;
    top: -4%;
}
.violet-egg {
    height: 25%;
    left: 23%;
    top: 10%;
}
.pin {
    height: 13%;
    top: 2%;
    right: 2%;
}

.vid {
    position: absolute;
    height: 18%;
    width: 44.2%;

    top: 32.6%;
    left: 12%;
    background-color: black;
}
.polaroid {
    height: 30%;
    top: 27%;
    left: 6%;
    pointer-events: none;
}
.flowers {
    height: 30%;
    top: 26%;
    left: -12%;
    pointer-events: none;
}

@media screen and (max-width: 460px) {
    body {
        font-size: 0.85rem;
    }
    section {
        margin: 10px;
    }
    #scrapbook {
        width: calc(100vw - 20px);
        min-height: calc((100vw - 20px) * 3 / 2);
    }
}